
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@700&display=swap');
*{
    box-sizing: border-box;
}
body,a,h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100%;
}
.landing_Section{
    position: relative;
    display: flex;
    height: 85vh;
    padding: 2%;
    flex-direction: column;
    width: 96%;
    margin: 0 2%;
    margin-top: 28px;
    background-color: #c1c3cc;
    background-image: linear-gradient(
76deg
, rgba(193, 195, 204, 0.83) 35%, rgba(193, 195, 204, 0.28) 65%), url("https://nuuk-e3eaa.firebaseapp.com/assets/img/slide-2.jpg");
    background-position: 0px 0px, 50% 0%;
    background-size: auto, cover;
    background-attachment: scroll, fixed;
}
.topbar{
    width: 94%;
    box-shadow: 0 2px 4px #ccc;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 3%;
}
.menu_wrapper{
    background-color: #fff;
    width: 100%;
    height: 88px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}
.menu_wrapper > a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-decoration: none;
    color: #000;
    padding: 0 15px;
    font-size: 12px;
    line-height: 20px;
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

.menu_wrapper > a:nth-child(1){
    color: #e47312;
}

.menu_wrapper>a:hover{
    color: #e47312;
}

.menu_wrapper > a::before{
    display: flex;
    justify-content: center;
    content: '';
    position: absolute;
    top: 0%;
    width: 1px;
    height: 0px;
    margin-right: auto;
    margin-left: auto;
    background-color: #e47312;
    transition: all 0.3s;
}

.menu_wrapper > a:hover::before{
    height: 30px;
}

.menu_wrapper > a::after{
    display: flex;
    justify-content: center;
    position: absolute;
    content: '';
    bottom: 0%;
    width: 1px;
    height: 0px;
    margin-right: auto;
    margin-left: auto;
    background-color: #e47312;
    transition: all 0.3s;
}

.menu_wrapper > a:hover::after{
    height: 30px;
}


.quote_btn{
    height: 88px;
    color: #fff;
    background-color: #e47312;
    padding: 30px 20px;
    font-family: 'Dosis', sans-serif;
    font-size: 12px;
    display: flex;
    letter-spacing: 2px;
    align-items: center;
    font-weight: 600;
    cursor: pointer;
}

.quote_btn:hover{
    background-color: #E98A38;
}

.image{
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
    width: 90px;
    height: 21px;
}
.brand{
    width:160;
    height: 110px;
    position: absolute;
    display: flex;
    padding-right: 35px;
    padding-left: 35px;
    order: -1;
    background-color: #e47312;
    align-self: stretch;
    align-items: center;
    justify-content: center;
    -webkit-box-align: center;
    z-index: 6666;
}
.container{
    position: relative;
    padding: 36px;
    margin-top: 40px;
}
.text-wrap{
    color: #fff;
    font-size: 62px;
    line-height: 70px;
    font-family: 'Dosis', sans-serif;
}
/* .paragraph-wrap{
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: hsla(0, 0%, 100%, 0.7);
    font-family: Dosis, sans-serif;
} */
#button{
    display: block;
    border-radius: 0px;
    background-color: #e47312;
    width: 160px;
    padding: 15px 25px;
    min-width: 160px;
    text-align: center;
    margin-top: 30px;
    cursor: pointer;
    
}
.button-wrap{
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color:white;
    text-decoration: none;
    font-family: Dosis, sans-serif;
} 

#button:hover{
    background-color: #E98A38;
}

.info-section {
    display: flex;
    width: 100%;
    padding-top: 30x;
    padding-bottom: 30px;
    -webkit-box-align: start;
    align-items: flex-start;
    justify-content: space-between;
    align-items: center;
} 
.features-wraper{
    position: absolute;
    left: auto;
    top:auto;
    right: 0;
    bottom:-93px;
    display: flex;
    padding: 15px 100px 5px 50px;
    background-color: #e47312;
    background-image: linear-gradient(
186deg
, #e47312, #ff6361);
} 
.phone-text{
    margin-top: 15px;
    margin-bottom: 0px;
    color: #fff;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.paragraph-wrap{
    margin-bottom: 5px;
    color: hsla(0, 0%, 100%, 0.7);
    font-family: Dosis, sans-serif;
    font-size: 17px;
    line-height: 25px;
}
.info-child{
  display:flex;  
  padding-top: 10px;
  flex-direction: column;
  justify-content:space-around;
  align-items: center;
  padding: 28px 55px;
  font-family: Dosis, sans-serif;
}
.social-vertical{
    position: absolute;
    left: auto;
    top: auto;
    right: 0%;
    bottom: 143px;
    display: flex;
    padding: 10px;
    flex-direction: column;
    background-color: #0a1229;
}
.social-vertical a{ 
    display: flex;
    width: 40px;
    height: 50px;
    float: left;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.14);
    color: white;
    text-decoration: none;
}
.info-child i{
    color: white;
    
}
.section-2{
    padding-top: 15%;
    padding-bottom: 5%;
    padding: 10% 5%;
}
.top-title-wrap{
    position: relative;
    display: flex;
    margin-bottom: 7%;
    justify-content: space-between;
    align-items: center;
}
.top-title{
    
    position: relative;
    margin-top: 0px;
    z-index: 2;
    margin-bottom: 0px;
    font-size: 42px;
    line-height: 50px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: Dosis, sans-serif;
    padding-top:45px;
    margin-left: 45px;
}
strong{
    font-weight: bold;
}
.top-title-absolute{
    position: absolute;
    left: -7px;
    top: -26px;
    z-index: 1;
    color: rgba(241, 241, 247, 0.4);
    font-size: 120px;
    letter-spacing: 11px;
    font-family: Dosis, sans-serif;
}
.top-title-wrap a{
    color: #919198;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Dosis', sans-serif;
    line-height: 20px;
    font-weight: 600;
}
.thumbnail{
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
}
.table-wrap{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: 2%;
    margin-right: 2%;
    margin-left: 2%;
}
.service-content{
    display: block;
    width: 25%;
    margin-bottom: 5%;

    
}
.service-title{
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 17px;
    line-height: 30px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
    
}
.service-para{
    margin-bottom: 10px;
    margin-top: 0;
    font-family: Dosis, sans-serif;
    color: #919197;
    font-size: 17px;
    line-height: 25px;
}
.service-content a{
    position: relative; 
    color: #919198;
    font-size: 13px;
    margin-top: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-left: 0px;
    padding-top: 0px;
    padding-bottom: 5px;
    font-weight: 600;
    text-decoration: none;
    font-family: Dosis, sans-serif;
}
.introduction{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: -50px;
}
.img-style{
    width: 572px;
    height: 381px;
    vertical-align: middle;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    
}
.top-title-wrapper{
    position: relative;
    display: flex;
    flex-direction: row;
    margin-bottom: 7%;
    justify-content: space-between;
    align-items: center;
}
.top-heading{
    position: relative;
    z-index: 2;
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 42px;
    line-height: 50px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: Dosis, sans-serif;
}
.top-heading-absolute{
    position: absolute;
    left: -53px;
    top: -26px;
    z-index: 1;
    color: rgba(241, 241, 247, 0.4);
    font-size: 120px;
    letter-spacing: 11px;
    font-family: Dosis, sans-serif;
    
}
.paragraph-dec{
    margin-bottom: 40px;
    font-family: Dosis, sans-serif;
    color: #919197;
    font-size: 17px;
    line-height: 25px;
    margin-top: 0;
}
.intro-wrap{
    position: relative; 
    color: #919198;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 15px;
    margin-left: 0px;
    padding-top: 0px;
    font-weight: 600;
    text-decoration: none;
    font-family: Dosis, sans-serif;
}
.img-section{
    padding-left: 100px;
    
}
.section-wrap{
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
}
.section-page{
    display: flex;
    padding: 100px;
    margin-top: -50px;
    
    
}

.who_we_are_meet_the_team{
    color: #919198;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 15px;
    margin-left: 0px;
    padding-top: 0px;
    font-weight: 600;
    text-decoration: none;
    margin-bottom: 5px;
    font-family: Dosis, sans-serif;
}
.fun-facts{
   width:25%;
    position: relative;
    float: left;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;

}
.fun-text{
    margin-bottom: 10px;
    color: #e47312;
    font-size: 60px;
    line-height: 70px;
    font-weight: 500;
    font-family: Dosis, sans-serif;
}
.fun-para{
    margin-bottom: 10px;
    font-family: Dosis, sans-serif;
    color: #919197;
    font-size: 17px;
    line-height: 25px;
    margin-top: 0;
    width: 165px;
    height: 50px;
    
}
.cards-section{
    width: 96%;
    margin: 0 auto;
    padding: 4% 0% 0px 20px;
    background-color: #f7f8fc;
}
.top-card-wraper{
    position: relative;
    display: flex;
    margin-bottom: 4%;
    justify-content: space-between;
    align-items: center;
    max-width: 1190px;
    margin-left: auto;
    margin-right: auto;
}
.description{
    position: relative;
    z-index: 2;
    margin-bottom: 0px;
    font-size: 50px;
    line-height: 50px;
    letter-spacing: 1px;
    font-weight: 600;
    margin-top: 70px;
    font-family: 'Dosis', sans-serif;

}
.description-absolute{
    color: rgba(241, 241, 247, 0.75);
    position: absolute;
    left: -53px;
    top: -26px;
    z-index: 1;
    font-size: 140px;
    letter-spacing: 11px;
    font-weight: 600;
    font-family: Dosis, sans-serif;
}
.top-card-wraper a{
    color: #919198;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 0px;
    font-weight: 600;
    text-decoration: none;
    font-family: Dosis, sans-serif;
}
.cards-items{
    background-color: #F7F8FC;
    display: flex;
    width: 100%;
    margin: 0 auto;
    padding: 10px 0;
}
.collection-items{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    position: relative;
}
.project-wrapper{
    width: 31%;
    margin: 5px 0.7%;
}
.project-content{
    position: relative;
    overflow: hidden;
}
.project-overlay{
    width: 100%;
    height: 99%;
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: ease-in-out 0.5s;
}

.image-view{
    width: 100%;
    height: 100%;
}
.project-overlay:hover{
    opacity: 1;
}
.project-circle{
    display: flex;
    width: 90px;
    height: 90px;
    padding-right: 11px;
    padding-left: 11px;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-image: linear-gradient(
59deg
, #ff6361, #e47312);
    color: #fff;
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
}

.image-view{
  width: 100%;
}

.color-section{
    padding-top: 7%;
    padding-bottom: 7%;
    background-color: #e47312;
    background-image: linear-gradient(
72deg
, #e47312, rgba(255, 99, 97, 0.78)), url(https://nuuk-e3eaa.firebaseapp.com/assets/img/banner-2.jpg);
    background-position: 0px 0px, 50% 50%;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
    background-attachment: scroll, fixed;
    width: 96%;
    margin: 0 auto;
}
.top-color-dec{
    margin-bottom: 0%;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.top-color-dec h1{
    color: #fff;
    position: relative;
    z-index: 2;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 42px;
    line-height: 50px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: Dosis, sans-serif;
}
.top-color-dec p{
    margin-top: 10px;
    font-size: 20px;
    line-height: 26px;
    font-weight: 300;
    margin-bottom: 5px;
    color: hsla(0, 0%, 100%, 0.7);
    font-family: Dosis, sans-serif;
}
.top-color-dec a{
    position: relative;
    color: #fff;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 15px;
    margin-left: 0px;
    padding-top: 20px;
    padding-bottom: 5px;
    font-weight: 600;
    text-decoration: none;
    font-family: Dosis, sans-serif;
}
.professionals-sec{
    background-color: #f7f8fc;
    padding: 5% 5%;
    margin-left: auto;
    margin-right: auto;
    width: 96%;
    margin: 0 auto;
}
.intro-wrap{
    position: relative;
    display: flex;
    margin-bottom: 7%;
    justify-content: space-between;
    align-items: center;
   
} 
.intro-wrap h1{
    position: relative;
    z-index: 2;
    margin-top: 50px;
    margin-bottom: 0px;
    font-size: 42px;
    line-height: 50px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    color: black;
    font-family: 'Dosis', sans-serif;
}
.intro-wrap h2{
    color: rgba(241, 241, 247, 0.75);
    position: absolute;
    left: -53px;
    top: -26px;
    z-index: 1;
    font-size: 120px;
    letter-spacing: 11px;
}
.intro-wrap a{
    margin-top: 0px;
    position: relative;
    color: #919198;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-left: 0px;
    padding-top: 0px;
    padding-bottom: 5px;
    font-weight: 600;
    text-decoration: none;
}
.info-wraper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: -10px;
    margin-right: -10px;
    width: 100%;
}
.team-wrapper{
    position: relative;
    width: 25%;
    padding-left: 15px;
    padding-right: 15px;
}
.team-photo{
    min-height: 300px;
    background-image: url(https://nuuk-e3eaa.firebaseapp.com/assets/img/team-1.jpg);
    background-position: 50% 0%;
    background-size: cover;
    background-repeat: no-repeat;
}
.team-photo-1{
    min-height: 300px;
    background-image: url(https://nuuk-e3eaa.firebaseapp.com/assets/img/team-2.jpg);
    background-position: 50% 0%;
    background-size: cover;
    background-repeat: no-repeat;
}
.team-photo-2{
    min-height: 300px;
    background-image: url(https://nuuk-e3eaa.firebaseapp.com/assets/img/team-3.jpg);
    background-position: 50% 0%;
    background-size: cover;
    background-repeat: no-repeat;
}
.team-photo-3{
    min-height: 300px;
    background-image: url(https://nuuk-e3eaa.firebaseapp.com/assets/img/team-4.jpg);
    background-position: 50% 0%;
    background-size: cover;
    background-repeat: no-repeat;
}

.content{
    padding: 29px 66px 29px 29px;
    background-color: #fff;
}
.team-wrapper h1{
    line-height: 20px;
    margin-top: 0px;
    font-size: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: 600;
    font-family: Dosis, sans-serif;
    
}
.team-wrapper p{
    margin-bottom: 0px;
    color: #bdbdc9;
    font-size: 16px;
    font-family: Dosis, sans-serif;
    line-height: 25px;
    margin-top: 0;
    

}
.social-vertical-1{
    position: absolute;
    left: auto;
    top: auto;
    right: 0%;
    bottom: 0%;
    flex-direction: column;
    background-color: #e47312;
    display: flex;
    padding: 10px;
}
.social-icon-1{
    display: flex;
    color: white;
    text-decoration: none;
    width: 40px;
    height: 50px;
    float: left;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.14)
}
.testimonial-section{
    margin-left: -10px;
    margin-right: -10px;
    margin-top: 15%;
    
    display: flex;
    flex-direction: row;
    align-items: center;
}
.testimonial{
    padding-right: 100px;
    padding-left: 0px;
    width: 41.66666667%;
    padding-top: 30px;
}
.client{
    position: relative;
    margin-bottom: 7%;
   
}
.client h1{
    position: relative;
    z-index: 2;

    font-size: 42px;
    line-height: 150px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: Dosis, sans-serif;
}
.client h2{
    color: rgba(241, 241, 247, 0.75);
    position: absolute;
    left: -53px;
    top: -26px;
    z-index: 1;
    font-size: 120px;
    letter-spacing: 11px;
    font-family: Dosis, sans-serif;
}
 .client p{
    margin-bottom: 30px;
    font-family: Dosis, sans-serif;
    color: #919197;
    font-size: 17px;
    line-height: 25px;
    margin-top: 10px;
}
.client a{
    position: relative;
    color: #919198;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 20px;
    margin-left: 0px;
    padding-top: 0px;
    padding-bottom: 5px;
    font-family: Dosis, sans-serif;
    font-weight: 600;
    text-decoration: none;
}
.testimonial-container{
    margin-left: -10px;
    margin-right: -10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 58.33333333%;
}
.testimonial-content{
    padding-left: 0;
    padding-right: 0;
    width: 50%;
    position: relative;
}
.testimonial-content-2{
    padding-left: 0;
    padding-right: 0;
    width: 50%;
    position: relative;
    margin-top: 151px;

}
.testimonial-wrapper{
    position: relative;
    display: block;
    width: 90%;
    margin: 50px auto 61px;
    padding: 80px 30px 26px;
    background-color: #fff;
    text-align: center;
}
.testiminial-photo{
    position: relative;
    display: flex;
    width: 60px;
    height: 60px;
    margin: -115px auto 25px;
    justify-content: center;
    border-radius: 100%;
    background-image: linear-gradient(
8deg
, #ff6361, #e47312);
    opacity: 1;
    color: #fff;
    font-size: 80px;
    line-height: 80px;
}
.test-block-2{
    padding-top: 12px;
}
.testimonial-title{
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
    text-transform: uppercase;
    font-family: Dosis, sans-serif;
}
.designation{
    margin-bottom: 0px;
    color: #bdbdc9;
    font-size: 16px;
    font-family: Dosis, sans-serif;
    font-weight: 500;
}
.testimoniak-para{
    margin-top: 15px;
    margin-bottom: 0px;
    color: #919197;
    font-size: 17px;
    line-height: 25px;
    font-family: Dosis, sans-serif;
}
.testimonial-wrapper-1{
    position: relative;
    display: block;
    width: 90%;
    margin: 50px auto 61px;
    padding: 80px 30px 26px;
    background-color: #fff;
    text-align: center;
}

.testiminial-photo-1{
    position: relative;
    display: flex;
    width: 60px;
    height: 60px;
    margin: -115px auto 25px;
    justify-content: center;
    align-items: stretch;
    border-radius: 100%;
    background-image: linear-gradient(
8deg
, #ff6361, #e47312);
    opacity: 1;
    color: #fff;
    font-size: 80px;
    line-height: 80px;

}
.test-block-3{
    padding-top: 12px;

}
.testimonial-title-1{
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
    text-transform: uppercase;
    font-family: Dosis, sans-serif;
}
.designation-1{
    margin-bottom: 0px;
    color: #bdbdc9;
    font-size: 16px;
    font-weight: 500;
    font-family: Dosis, sans-serif;

}
.testimoniak-para-1{
    margin-top: 15px;
    margin-bottom: 0px;
    color: #919197;
    font-size: 17px;
    line-height: 25px;
    font-weight: 500;
    font-family: Dosis, sans-serif;
}
.section-3{
    padding: 10% 5%;
}
.blog-container{
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}
.blog-wrapper{
    position: relative;
    display: flex;
    margin-bottom: 7%;
    justify-content: space-between;
    align-items: center;
}
.blog-wrapper h1{
    position: relative;
    z-index: 2;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 42px;
    line-height: 50px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: Dosis, sans-serif;
}
.blog-wrapper h2{
    position: absolute;
    left: -53px;
    top: -26px;
    z-index: 1;
    color: rgba(241, 241, 247, 0.4);
    font-size: 120px;
    letter-spacing: 11px;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 50px;
    font-family: Dosis, sans-serif;
}
.blog-wrapper a{
    margin-top: 0px;
    position: relative;
    color: #919198;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    font-family: Dosis, sans-serif;
}
.blog-items{
    margin-left: -10px;
    margin-right: -10px;
}

.blog-item-wrapper{
    width: 33.33333333%;
    position: relative;
    float: left;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
}
.blog-item-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #fff;
    text-decoration: none;
    cursor: pointer;
}
.blog-image{
    position: relative;
    background-color: #5c5c5c;
}
.img-dis{
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}
.meta-tag{
    position: absolute;
    left: auto;
    top: 0%;
    right: 0%;
    bottom: auto;
}
.meta-tag h1{
    display: flex;
    width: 70px;
    height: 70px;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(
45deg
, #ff6361, #e47312);
    color: #fff;
    font-size: 26px;
    font-weight: 400;
    font-family: Dosis, sans-serif;
}
.meta-tag h2{
    display: flex;
    width: 70px;
    height: 40px;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #9d9da5;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: Dosis, sans-serif;
}
.meta-text-wrapper{
    width: 100%;
    padding: 25px 56px 25px 30px;
    background-color: #e47312;
    background-image: linear-gradient(
158deg
, #e47312, #ff6361);
}
.meta-text-wrapper h1{
    margin-right: 0px;
    margin-bottom: 15px;
    font-size: 19px;
    line-height: 26px;
    color: #fff;
    font-family: Dosis, sans-serif;
    font-weight: 600;
    text-decoration: none;
}
.meta-text-wrapper p{
    margin-bottom: 5px;
    color: hsla(0, 0%, 100%, 0.7);
    font-family: Dosis, sans-serif;
    font-size: 17px;
    line-height: 25px; 
}
.meta-text-wrapper h2{
    display: inline-block;
    color: #fff;
    font-size: 13px;
    letter-spacing: 1px;
    position: relative;
    margin-top: 15px;
    margin-left: 0px;
    padding-top: 0px;
    padding-bottom: 5px;
    font-weight: 600;
    font-family: Dosis, sans-serif;
}

.section-4{
    padding-top: 3%;
    padding-bottom: 3%;
    background-image: linear-gradient(
56deg
, #e47312, #ff6361);
margin-top: 35%;
margin-left: 30px ;
margin-right: 30px;
}
.logo-flex{
    position: relative;
    text-align: center;
}
.picture-flex{
    display: none;
    margin-right: 0px;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 0px;
}
.logo-collection{
    display: flex;
    flex-direction: row-reverse;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
}
.picture-collection-1{
    background-image: url(https://nuuk-e3eaa.firebaseapp.com/assets/img/logo-1w.png);
    background-size: 100px;
    width: 20%;
    min-height: 100px;
    background-color: transparent;
    background-position: 50% 50%;
    text-align: center;
    background-repeat: no-repeat;
    /* transition: all 400ms ease; */
}
.picture-collection-2{
    background-image: url(https://nuuk-e3eaa.firebaseapp.com/assets/img/logo-2w.png);
    background-size: 100px;
    width: 20%;
    min-height: 100px;
    background-color: transparent;
    background-position: 50% 50%;
    text-align: center;
    background-repeat: no-repeat;
    /* transition: all 400ms ease; */
}
.picture-collection-3{
    background-image: url(https://nuuk-e3eaa.firebaseapp.com/assets/img/logo-3w.png);
    background-size: 100px;
    width: 20%;
    min-height: 100px;
    background-color: transparent;
    background-position: 50% 50%;
    text-align: center;
    background-repeat: no-repeat;
    /* transition: all 400ms ease; */
}
.picture-collection-4{
    background-image: url(https://nuuk-e3eaa.firebaseapp.com/assets/img/logo-4w.png);
    background-size: 100px;
    width: 20%;
    min-height: 100px;
    background-color: transparent;
    background-position: 50% 50%;
    text-align: center;
    background-repeat: no-repeat;
    /* transition: all 400ms ease; */
}
.picture-collection-5{
    opacity: 1;
    background-image: url(https://nuuk-e3eaa.firebaseapp.com/assets/img/logo-5w.png);
    background-size: 100px;
    width: 20%;
    min-height: 100px;
    background-color: transparent;
    background-position: 50% 50%;
    text-align: center;
    background-repeat: no-repeat;
    /* transition: all 400ms ease; */
}
.logo-flex-1{
    margin-right: 60px;
    flex: 0 0 auto;
    color: #fff;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    font-family: Dosis, sans-serif;
    letter-spacing: 1px;
    font-weight: 600;
}
.footer-section{
    position: relative;
    z-index: 1;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 70px;
    padding-right: 50px;
    padding-left: 50px;
    /* padding-bottom: 120px; */
    border-top: 0.5px solid #2f3038;
    background-color: #0a1229;
}
.footer-container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding-bottom: 140px;
}
.query-section{
    margin-left: -10px;
    margin-right: -10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:flex-start;
}
.about-section{
    width: 30.33333333%;
    padding-left: 10px;
    padding-right: 50px;
    position: relative;
}
.about-column{
    
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.about-column h1{
    margin-bottom: 30px;
    padding-right: 14px;
    background-color: #0a1229;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 20px;
    font-family: Dosis, sans-serif;
}
.line{
    left: 0%;
    top: 8px;
    right: auto;
    bottom: auto;
    width: 60%;
    height: 1px;
    background-color: #ff6361;
    margin-bottom: 34px;
    
}
.about-section p{
    color: #fff;
    font-size: 17px;
    line-height: 25px;
    font-family: Dosis, sans-serif;
    margin-top: 0;


}
.about-section a{
    position: relative;
    color: #fff;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: Dosis, sans-serif;
    text-decoration: none;
    font-weight: 600;
}
.service-section{
    width: 30.33333333%;
    padding-left: 10px;
    padding-right: 50px;
    position: relative;
}
.service-column{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.service-column h1{
    margin-bottom: 30px;
    padding-right: 14px;
    background-color: #0a1229;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 20px;
    font-family: Dosis, sans-serif;
}
.line-2{
    position: absolute;
    left: 0%;
    top: 8px;
    right: auto;
    bottom: auto;
    width: 60%;
    height: 1px;
    background-color: #ff6361;
    margin-left: 80px;
}
.service-section a{
    position: relative;
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 13px;
    color: #fff;
    letter-spacing: 1px;
    text-decoration: none;
    font-family: Dosis, sans-serif;
    line-height: 30px;
    font-weight: 600;
}

.contact-section{
    width: 30.33333333%;
    padding-left: 10px;
    padding-right: 50px;
    position: relative; 
    
}
.contact-column{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-right: 20%;
}
.contact-column h1{
    margin-bottom: 30px;
    padding-right: 14px;
    background-color: #0a1229;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 20px;
    font-family: Dosis, sans-serif;
    margin-right: 60px;
}
.line-3{
    position: absolute;
    left: 0%;
    top: 8px;
    right: auto;
    bottom: auto;
    width: 60%;
    height: 1px;
    background-color: #ff6361; 
    margin-left: 100px;
}
.child-horizontal-contact{
    margin-bottom: 5px;
    padding-top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}
.info-img-left{
    width: 20px;
    margin-right: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}
.phone-text{
    margin-top: 10px;
    margin-bottom: 10px;
    color: #fff;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: Dosis, sans-serif;
}
.paragraph-text{
    margin-bottom: 5px;
    color: hsla(0, 0%, 100%, 0.7);
    font-family: Dosis, sans-serif;
    font-size: 17px;
    line-height: 25px;
    margin-top: -2px;
}
.ending-section{
    padding: 40px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;  
    background-color: #e47312; 
}

.ending-nuuk-webpage{
    width: 120px ;
}
.image-nuuk{
    width: 100%;
}
.info-child > img {
    height: 30px
}

.info-child > i {
    font-size: 28px;
}

.abt_para{
    margin-bottom: 20px;
}

.for_border_bottom{
    cursor: pointer;
    color: #fff;
    font-weight: 600;
}

.border_bottom{
    height: 2px;
    width: 90px;
    background: transparent;
    opacity: 0.6;
    transition: 0.3s;
}

.for_border_bottom:hover + .border_bottom{
    background: #FFF;
    opacity: 1;
}

.footer_find_on_map{
    width: 80px;
    margin-top: 2px;
}

.border_bottom_red{
    height: 2px;
    width: 120px;
    background: transparent;
    opacity: 0.6;
    transition: 0.3s;
}


.for_border_bottom_red:hover + .border_bottom_red{
    background: #ff6361;
    opacity: 1;
}

.learn_more{
    width: 80px;
}
.meet_the_team{
    width: 100px;
}

.view_all_works{
    width: 110px;
}

.get_qoute{
    width: 110px;
}

.abt_us{
    width: 60px;
}



.abb{
    display: flex;
    flex-direction: column;
}
.blog-item-wrapper{
    z-index: 1;
}

.read_more_border_btm{
    z-index: 999;
    padding: 0;
    margin: 0;
}

.read_more_bottom{
    height: 2px;
    width: 70px;
    background: #fff;
    opacity: 0.5;
}

.read_more_border_btm:hover + .read_more_bottom{
    opacity: 1;
}

.our_services{
    width: 90px;
}

.view_blog{
    width: 65px;
}

.finance{
    width: 115px;
    margin-bottom: 5px;
}

.construction{
    width: 95px;
    margin-bottom: 5px;
}

.architecture{
    width: 95px;
    margin-bottom: 5px;
}

.renovation{
    width: 80px;
}



 @media only screen and (max-width: 400px) {
    .introduction, .table-wrap{
        flex-direction: column;
    }
    .features-wraper {
        padding-right: 1px;
    }

    .img-style,.service-content{
        width: 100%;
        padding: 0;
        margin: 0 auto;
    }
    .info-wrapper{
        display: flex;
        flex-direction: column;
        width: 200vh;
    }
    .blog-item-wrapper{
        width: 98.333333%;
    }

    .menu_wrapper > a{
        display: none;
    }

    .menu_wrapper {
        height: 40px;
    }

    .quote_btn {
        height: 40px;
        padding: 20px 10px;
    }

    .brand {
        height: 60px;
        padding-right: 5px;
    padding-left: 5px;
    }
    .features-wraper{
        position: relative;
        bottom: -141px;
    }
    
    .info-section{
        flex-direction: column;
    }

.top-title-absolute {
    
    left: 7px;
    top: 0px;
    font-size: 50px;
    letter-spacing: 0px;
    background-color: white;
    padding: 5px 10px;
    margin-top: 7px;
    
}
.top-title {
    position: relative;
   
    margin-bottom: 34px;
    font-size: 19px;
    line-height: 19px;
    letter-spacing: 0px;
    padding-top: 45px;
    margin-left: 35px;
    margin-top: -10px;
}
.section-2 {
    padding-top: 15%;
    padding-bottom: 5%;
    padding: 10% 4px;
    margin-top: 485px;
}
content {
    width: 100vh;
    padding: 0;
    margin: 0 auto;
}
.paragraph-dec {
    margin-bottom: 43px;
    font-family: Dosis, sans-serif;
    color: #919197;
    font-size: 17px;
    line-height: 25px;
    margin-top: 0;
    width: 243px;
}
.text-wrap{
        color: #fff;
        font-size: 24px;
        line-height: 22px;
        font-family: 'Dosis', sans-serif;
    }
    #button{
        margin-top: -5px;
    }
    .img-style{
        width: 100%;
        height: 254px;
        margin-top: 28px;
    }
    .img-section {
        padding-left: 16px;
    }
    .section-page {
        display: flex;
        flex-direction: column;
        padding: 0px;
        margin-top: -80px;
        margin-left: 32px;
    }
    .top-heading-absolute {
        left: -24px;
        top: 26px;
        font-size: 68px;
    letter-spacing: 7px;
    }
    .top-heading{
        margin-top: 60px;
    margin-bottom: 5px;
    font-size: 29px;
    }
    .description-absolute{
        left: 1px;
    top: 0px;
    z-index: 1;
    font-size: 48px;
    letter-spacing: 3px;
    }
    .description{
        margin-bottom: -16px;
    font-size: 28px;
    line-height: 54px;
    margin-top: 15px;
    margin-left: 5px;
    }
    .collection-items{
        display: flex;
        flex-direction: column;
    }
    .color-section{
        width: 111%;
    }
    .top-color-dec{
        padding: 19px;
    }
    .top-color-dec h1{
        font-size: 26px;
    line-height: 40px;
    }
    .professionals-sec{
        font-size: 26px;
    width: 111%;
    padding: 5% 5%;
    }
    .info-wraper{
        display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    }
    .team-wrapper{
        width: 100%;
        padding-left: 15px;
        margin: 13px 0;
    }
    .testimonial-section{
        margin-top: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    .client h2{
        position: absolute;
        left: -92px;
        top: -41px;
        font-size: 58px;
        letter-spacing: -1px;
    }
    .client p{
        font-size: 17px;
        line-height: 25px;
        margin-top: 58px;
        width: 323px;
        margin-left: -88px;
    }
    .project-wrapper {
        width: 94%;
    }
    .client h1{
        font-size: 29px;
        line-height: 17px;
        letter-spacing: 1px;
        margin-left: -68px;
    }
    .intro-wrap h2{
        left: 5px;
        top: -3px;
        font-size: 68px;
        letter-spacing: 0px;
    }
    .intro-wrap h1{
        margin-top: 23px;
    margin-bottom: 32px;
    margin-left: 24px;
    font-size: 23px;
    line-height: 46px;
    }
    .client a{
        margin-left: -87px;
    }
    .testimonial-content{
        width: 85%;
}
.testimonial-content-2{
    width: 85%;
    margin-top: -28px;
}
.blog-wrapper h1{
    font-size: 28px;
}
.blog-wrapper h2{
    left: -15px;
    font-size: 71px;
    letter-spacing: 7px;
}
.meta-text-wrapper{
    width: 100%;
}
.blog-image{
    width: 309px;
    margin-top: 24px;
}
.testimonial-container{
    flex-direction: column;
    width: 100%;
}
    .testimonial-wrapper{
        margin: 90px auto 61px;
    padding: 80px 30px 26px;
    }
.logo-collection{
    display: flex;
    flex-direction: column-reverse;
}
.picture-collection-5 {
    width: 27%;
}
.picture-collection-4 {
    width: 27%;
}
.picture-collection-3 {
    width: 27%;
}
.picture-collection-2 {
    width: 27%;
}
.picture-collection-1 {
    width: 27%;
}
.footer-section{
    width: 100%;
}
.about-section {
    width: 114.333333%;
    margin-bottom: 25px;
}
.service-section {
    width: 141.333333%;
    margin-bottom: 25px;
}
.contact-section {
    width: 126.333333%;
    margin-bottom: 25px;
    
}
.img-dis {
    max-width: 110%;
}
.section-4{
    margin-top: 362%;
    margin-left: 0;
    margin-right: 0;
}
.query-section{
    flex-direction: column;
}
.logo-flex {
    position: absolute;
}
}

/* @media only screen and (max-width: 1015px) {
    .features-wraper{
        padding-right: 50px;
    }
    .info-child {
        padding: 10px 4px;
        margin: 0 10px;
    }


    .info-child > h1,p{
        font-size: 14px;
    }

    .info-child > img{
        height: 20px;
    }

    .info-child> i{
        font-size: 14px;
    }
}
 
